################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Finished sample/Library.API/bin/Debug/netcoreapp2.2
