################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Finished sample/Library.API/bin/Debug/netcoreapp2.2
/Finished sample/Library.API/obj
/Starter files/Library.API/bin/Debug/netcoreapp2.2
/Starter files/Library.API/obj
/Finished sample/.vs/Library/v15/Server/sqlite3
